---
layout: default
---

<p>{{page.title}} {{ page.date　｜date: %e, %B, %Y }} </p>

{{ content }}

<script src="https://giscus.app/client.js"
        data-repo="francisdavey/nihonlife"
        data-repo-id="R_kgDOKRsYjA"
        data-category="comments"
        data-category-id="DIC_kwDOKRsYjM4CZlF9"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
